.accordion {

    &__header {
        margin-top: 0;
        margin-bottom: 3rem;

        @include above (sm) {
            position: sticky;
            top: 30px;
            margin-bottom: 0;
        }

        span {
            color: $blue;
        }
    }

    &__title {
        background: linear-gradient($blue-light, $white);
        cursor: pointer;
        padding: 18px !important;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        line-height: 1.3;
        font-size: 18px;
        font-weight: 400;

        &.is-active {

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &__wrapper {

        .icon {
            font-size: 13px;
            color: $blue;
            float: right;
            margin-left: 5px;
            position: relative;
            transition: all ease .3s;
        }
    }

    &__panel {
        padding: 0 15px;
        max-height: 0;
        overflow: hidden;
        transition: .3s ease-in-out;
        min-height: 0;
        background: linear-gradient($white, $blue-light);

        a {
            transition: all ease .3s;
            color: $blue;
        }

        &.is-visible {
            opacity: 1;
            min-height: fit-content;
            max-height: none;
            padding-bottom: 15px;
        }
    }
}