.ajax-progress {
	position: fixed;
	top: 0;
	width: 0;
	height: 4px;
	background: $gradient;
	z-index: -1;
	right: 0;
	transition: all .8s; 
	transition-timing-function: cubic-bezier(1, 0, 0, 1); 

	&.is-active {
		z-index: 200;
		width: 100%;
		left: 0;
	}
}

.ajax-container {
	transform: translateZ(0);
}