.archive {

	&__header {
		margin-top: 0;
		margin-bottom: 1.5rem;

		@include above (sm) {
			margin-bottom: 3rem;
		}
	}

	&__row {

		&.right {
			flex-direction: row-reverse;
		}
	}

	&__item {
		padding-bottom: 1.5rem;
		
		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__title {
		margin-top: 1.5rem;
		color: $color-font-body;

		@include above (sm) {
			margin-top: 0;
		}

		a {
			color: $color-font-body;			
		}

		span {
			color: $blue;
		}
	}

	&__cat  {

		a {
			color: $blue;
		}
	}
}