.btn {
	display: inline-block;
	position: relative;
	padding: .8rem 2.5rem;
	margin: .5rem;

	&--gradient {
		background: $gradient;
		color: $white;
		border-radius: 2.5rem;

		a {
			color: $white!important;
		}
	}

	&--text {
		color: $blue;
		font-weight: 600;
	}
}