.featured-products {

	&__item {
		padding-bottom: 3rem;
		margin-bottom: 1.5rem;

		@include below (sm) {

			&:last-child {
				margin-bottom: 0;
			}
		}

		p {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__btn {
		position: absolute;
		bottom: 0;
	}
}