.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&__item {
		
		p {
			margin-bottom: 0;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
	}

	&__title {
		font-weight: 400;

		@include above (sm) {
			margin-top: 0;
		}
	}
}
