.gallery {

	&__title {
		margin-top: 0;
	}

	&__list {

	}

	&__item {
		width: 100%;
		padding: 1rem;		

		@include between (xs, sm) {
			width: 50%;
		}

		@include above (sm) {
			width: 33.3%;
		}

		@include above (md) {
			width: 25%;
		}
	}

	&__link {

	}

	&__caption {

	}
}
