/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;

  
  &__logo {
    display: block;
    float: left;

    img {
      width: 150px;
      height: 30px;
      
      @include above (sm) {
      	width: 225px;
      	height: 45px;
  	  }
    }
  }
}