@import "easings";

.hero {
	position: relative;

	&--wrapper {
		overflow: hidden;
	}

	@include below (sm) {
		padding-bottom: 0!important;
	}

	@include above (sm) {
		margin-bottom: 3rem;
	}

	&__text {
		@include above (sm) {
			padding-bottom: calc(210px - 5rem);
		}
	}

	&__title {
		margin-top: 0;

		span {
			color: $blue;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;

		@include below (sm) {
			min-height: 25rem;
			width: 100%;
		}

		@include above (sm) {
			position: absolute;
			right: 0;
			height: 100%;
			top: 0;
			z-index: 10;
		}
	}

	&__breadcrumbs {
		background: $gradient;
		position: absolute;
		z-index: 10;
		bottom: 0;
		min-height: 110px;

		@include above (sm) {
			bottom: -3rem;
			width: 100%;
			min-height: 210px;
			margin-left: 1rem;
			z-index: 0;
		}

		&--col {
			max-width: 585px;
			color: $white;

			@include above (sm) {
				padding-left: 0rem;
			}

			a {
				color: $white;	
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	&__scroll {
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .1rem;
		max-width: 585px;

		&--mousepad {
			border: 1px solid $white;
			width: 1.2rem;
			height: 1.8rem;
			display: block;
			border-radius: 2.5rem;
			position: relative;

			&--anim {
				width: .1rem;
				height: .1rem;
				background: $white;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: .5rem;
				animation-name: slide;
				animation-iteration-count: infinite;
				animation-duration: 1.2s;
				animation-delay: .01s;
				animation-timing-function: linear;
			}
		}

		&--text {
			padding-top: .5rem;
			margin-bottom: 0;
			font-weight: 400;
		}
	}
}