/********************LAYOUTS********************/

/* Base Styles */
.gray--bg {
  color: $white;
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &.flex {
    h1, h2,
    h3, h4,
    h5, h6 {
        margin-top: 0;
    }

    .row  {
      @extend .flex, .flex--wrap, .flex--center;
    }
  }

  &__title {

  }

  &__col {

    a:not(.btn) {
      color: $blue;
    }
	
  	@include above (sm) {
    	&.first {
    		p:last-child {
  			   margin-bottom: 0;
  			}
    	}
    }
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 5rem;
    }

    &--bottom {
      padding-bottom: 5rem;
    }

    &--both {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}