@import "easings";

.link-boxes {

	&__intro {
		padding-bottom: 3rem;
	}
 
	&__header {
		margin-top: 0;

		span {
			color: $blue;
		}
	}

	&__wrapper {
		display: flex;
    	flex-direction: column;

    	@include below (sm) {
    		width: 100%;
    	}
	}

	&__item {
		color: $color-font-body;
		
		&--3 {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;
		flex: 1;
		position: relative;
		min-height: 15rem;
		
		@include above (sm) {
			min-height: 280px;
		}	
	}

	&__title {
		margin-top: 2rem;
	}
}