/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: flex !important;
			align-items:  center;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;

		@include above (sm) {
			float: left;
			padding: 1rem .5rem;
			display: inline-block;
		}

		&.is-active > a {
			color: $blue;
		}
	}

	&__link {
		color: $color-font-body;
		transition: all ease .3s;

		&:hover {
			color: $blue;
		}
	}

	&__btn {
		padding: .5rem 2rem!important;
		margin-left: 1rem;
		margin-top: .5rem;

		@include above (sm) {
			margin-left: 1.5rem;
			margin-top: 0;
		}

		&:hover {
			cursor: pointer;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: $blue-light;

		@include above (sm) {
			position: absolute;
		}

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
			float: none;
			display: block;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}



	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 62px;
			right: 0;
			height: calc(100% - 62px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $blue-light;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}
			
			@at-root {
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}