.product-overview {

	&__intro {
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__header {
		margin-top: 0;
	}

	&__item {
		color: $color-font-body;
	}

	&__img {
		min-height: 500px;
		background: no-repeat center center;
		background-size: cover;
	}
}