.product {
	position: relative;
	overflow: hidden;

	@include below (sm) {
		padding-bottom: 0!important;
	}

	&__row {

		&.left {
			flex-direction: row-reverse;
		}
	}

	&__text {
		width: 100%;
		padding-bottom: 3rem;

		@include above (sm) {
			width: 50%;
			padding-bottom: 0;
		}

		a:not(.btn) { 
			color: $blue;
		}

		&.left {

			@include above (sm) {
				padding-left: 2rem;
			}
		}
	}

	&__title {
		margin-bottom: 1.5rem;
		margin-top: 0;

		span {
			display: block;
			color: $blue;
			font-size: 18px;
		}
	}

	&__track {
		@include above (sm) {
			position: absolute;
			height: 100%;
			top: 0;
		}

		&.right {
			right: 0;
			padding-right: 0;

			.owl-nav {
				@include below (sm) {
					left: -1rem;
				}
			}

			.owl-dots {
				left: 12rem;
			}
		}

		&.left {
			left: 0;
			padding-left: 0;

			.owl-nav {
				margin-left: auto;
				right: -1rem;

				@include above (sm) {
					left: 1rem;
				}
			}
		}
	}

	&__img {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center $white;
		background-size: contain;
		height: 100%;

		@include below (sm) {
			min-height: 25rem;
			width: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			background: $white;
			top: 0;
			height: 100%;
			width: 2rem;
			left: -2rem;
		}
	}
}