.references {
	overflow: hidden;

	&__intro {
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__header {
		margin-top: 0;
	}

	&__item {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&__img {
		position: relative;
		z-index: 2;
		background-size: cover;
		min-height: 25rem;

		@include above (sm) {
			min-height: 500px;
		}
	}

	&__title {
		margin-top: 1.5rem;

		@include above (sm) {
			margin-top: 3rem;
		}
	}

	&__btn {

	}
}