.slider {

	&__track {
		background: $white;
	}

	&__list {
		@include below (sm) {
			min-height: 25rem;
		}
		
		@include above (sm) {
			position: absolute!important;
			height: 100%;
			right: 0;
			top: 0;
		}
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;
		height: 100%;
	}

	&__container {

	}

	&__title {

	}

	&__text {

	}
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	&--product {
		@include above (sm) {
			width: 50%;
		}

		.owl-stage {
			display: flex;
    		flex: 1;

			&-outer {
				overflow: hidden;
				display: flex;
			    flex-direction: column;
    			flex: 1;
    			height: 100%;
    			overflow: hidden;
			}
		}

		.owl-item {
    		flex: 1;
		}

		.owl-nav {
			top: -4.2rem!important;
			margin-top: 0!important;
			padding: 0!important;
			width: 245px;

			@include above (sm) {
				top: -4rem;
				left: -1rem;
			}

			&:after {
				display: none;
			}
		}

		.owl-prev, .owl-next {
			position: relative;
			left: -3rem;
		}
	}

	&--home {
		@include above (sm) {
			width: 50%;
		}

		.owl-stage {
			display: flex;
    		flex: 1;

			&-outer {
				overflow: hidden;
				display: flex;
			    flex-direction: column;
    			flex: 1;
    			height: 100%;
    			overflow: hidden;
			}
		}

		.owl-item {
    		flex: 1;
    		opacity: 1!important;
		}

		.owl-dots {
			display: none!important;
		}
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			-webkit-transform: translate3d(0, 0, 0);

			@include below (sm) {
				overflow: hidden;
			}
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
		opacity: .3;

		&.active {
			opacity: 1;
		}
	}

	//navigation
	.owl-nav {
		background: $gradient;
		width: 65%;
		position: relative;
		text-align: center;
		color: $white;
		display: flex;
		justify-content: center;
		padding: 1.5rem;
		margin-top: 1.5rem;

		@include between (sm, md) {
			width: 60%;
		}

		@include above (sm) {
			margin-top: 3rem;
			padding: 3rem;
		}

		@include above (md) {
			width: 33.3%;
		}

		&:after {
			background: $blue;
			content: '';
			right: 0;
			height: 100%;
			width: 100vw;
			position: absolute;
			top: 0;
			z-index: -1;
		}
	}

	.owl-nav,
	.owl-dots {

		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		counter-reset: dots;
		position: absolute;
		bottom: 0;
		display: flex;
		right: 2rem;
		height: 68px;
		align-items: center;

		&:after {
    		content: counter(dots);
    		color: $white;
    		font-weight: 700;
    		bottom: 0;
    		z-index: 100;
		}
	}

	.owl-dot {
		counter-increment: dots;

		span {
			display: none;
		}

		&.active {
			&:before {
	    		content: counter(dots) '/';
	    		color: $white;
	    		font-weight: 700;
	    		bottom: 0;
	    		z-index: 100;
			}
		}
	}

	.owl-prev,
	.owl-next {
		margin: 1rem;
		font-size: 36px;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 1;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}  