.text-image {

	@include above (sm) {
		margin-bottom: 3rem;
	}

	&__row {

		&.left {
			flex-direction: row-reverse;;
		}
	}

	&__text {
		background: $blue-light;
		position: relative;

		@include above (sm) {
			padding-left: 3rem;

			&:after {
				background: $blue-light;
				position: absolute;
				top: 0;
				height: 100%;
				width: 5rem;
				content: '';
			}
		}

		&.right {
			&:after {
				right: -5rem;
			}
		}

		&.left {
			&:after {
				left: -5rem;
			}
		}
	}

	&__title {

		span {
			color: $blue;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;

		@include below (sm) {
			min-height: 25rem;
			width: 100%;
		}

		@include above (sm) {
			top: 3rem;
		}
	}
}